# Copy this file to .env or .env.local and replace every value to enable backend sync.
# The app CAN and will run without this, locally.
# The app is meant to be used locally, backend is mainly for our team you may choose to implement your own version as well as distribute your own app.

EXPO_PUBLIC_APPWRITE_ENDPOINT=https://your-appwrite.example.com/v1
EXPO_PUBLIC_APPWRITE_PROJECT_ID=your_project_id
EXPO_PUBLIC_APPWRITE_PLATFORM_ID=your_platform_id
EXPO_PUBLIC_APPWRITE_DATABASE_ID=your_database_id
EXPO_PUBLIC_APPWRITE_COLLECTION_ASSIGNMENTS_ID=your_assignments_collection_id
EXPO_PUBLIC_APPWRITE_COLLECTION_SCOUTING_DATA_ID=your_scouting_data_collection_id
EXPO_PUBLIC_APPWRITE_FUNCTION_VALIDATE_KEY_ID=your_validate_key_function_id
EXPO_PUBLIC_APPWRITE_FUNCTION_SUBMIT_SCOUTING_ID=your_submit_scouting_function_id
